$ciemny-szary: rgb(102, 102, 102);
$naglowki: rgb(77, 77, 77);
$jasny-szary: rgb(153, 153, 153);

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    color: $ciemny-szary;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 32px 65px repeat(8, auto);
}


.headline {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
}

.hr-nav {
    grid-column: 1 / 7;
    grid-row: 2 / 3;   
}

.nav {
    grid-column: 1 / 7;
    grid-row: 3 / 4;
}

.head-img {
    grid-column: 1 / 7;
    grid-row: 4 / 5;
}

.content {
    grid-column: 1 / 7;
    grid-row: 5 / 6;
}

.symbols {
    grid-column: 1 / 7;
    grid-row: 6 / 7;
}

.produkty {
    grid-column: 1 / 7;
    grid-row: 7 / 8;
}

.cards {
    grid-column: 1 / 7;
    grid-row: 8 / 9;
}

.hr-foot {
    grid-column: 1 / 7;
    grid-row: 9 / 10;
}

.znajdz {
    grid-column: 1 / 7;
    grid-row: 10 / 11;
}

.contact {
    grid-column: 1 / 7;
    grid-row: 11 / 12;
}


.headline {
    font-size: 60px;
    text-align: center;
    color: $ciemny-szary;
}

.hr-nav {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    hr {
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
}

.nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    ul, li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        text-decoration: none;
    }

    p:hover {
        color: salmon;
    }

    .p-nav {
        color: $jasny-szary;
        font-size: 90%;
    }
}

.img-h {
    width: 100%;
}

.content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    h1 {
        font-size: 30px;
        color: $naglowki;
        
    }

    p {
        font-size: 16px;
        color: $ciemny-szary;
    }

    .content-a,
    .content-b,
    .content-c {
        margin-top: 10px;
    }
}  

.symbols { 
    margin-top: 100px;
    display: flex;
    text-align: center;
    justify-content: space-around;
   

    img {
        width: 70px;
        height: 70px;
        opacity: 0.7;
    }

    h3 {
        color: $naglowki;
    }

    p {
        color: $ciemny-szary;
    }
}


.produkty {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    color: $naglowki;
}

.cards {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 10px;

    img {
        width: 200px;
    }
}

.hr-foot {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    hr {
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
}

.znajdz {
   text-align: center;
}

.contact {
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    h5 {
        color: $naglowki;
    }

    p {
        color: $ciemny-szary;
    }

}